includes:
    - ./vendor/nunomaduro/larastan/extension.neon

parameters:
    paths:
        - cloud
    level: 5
    checkModelProperties: true

    ignoreErrors:
        - '#PHPDoc tag @var#'

    excludePaths:
        - ./*/*/FileToBeExcluded.php

    checkMissingIterableValueType: false
